<div class="main-content">
  <div class="container-fluid">
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nis</th>
        <th scope="col">Nama</th>
        <th scope="col">Ttl</th>
        <th scope="col">Alamat</th>
        <th scope="col">Goldar</th>
        <th scope="col">Email</th>
        <th scope="col">Kontak</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of Users; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ user.nis }}</td>
        <td>{{ user.nama }}</td>
        <td>{{ user.ttl }}</td>
        <td>{{ user.alamat }}</td>
        <td>{{ user.goldar }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.kontak }}</td>
        <td>
          <span (click)="removeUser(user)" class="text-danger">Delete</span> &nbsp;
          <span routerLink="/update-user/{{user.id}}" class="text-primary">Edit</span>
        </td>
      </tr>
    </tbody>
  </table>